<!DOCTYPE html>
<html>
  <head>
    <title><%= %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=  %></h1>
    <h1>Peliculas</h1>
    <ul>
      
          
         <li> Nombre: <%=  actor.first_name; %> </li>
         <li> Apellido: <%=  actor.last_name; %> </li>
         <li>Películas: 
              <% for (var i=0; i < actor.movie.length; i++) {%> 
            <ul><%=  actor.movie[i].title %> </ul>
            <% } %>
            </li>
        </li>
            
        
    </ul>
    <p>Welcome to <%=  %></p>
  </body>
</html>