<!DOCTYPE html>
<html>
  <%- include('partials/head')%>
  <%- include('partials/header')%>

  <body>
    <h1>Información de <%=actor.first_name +" "+ actor.last_name%></h1>

    <ul>
      
          
         <li> Nombre: <%=  actor.first_name; %> </li>
         <li> Apellido: <%=  actor.last_name; %> </li>
         <li> Puntuación: <%= actor.rating%></li>
         <li>Películas en las que participó: 
              <% for (var i=0; i < actor.movie.length; i++) {%> 
            <ul>
              <a href="../detail/<%=actor.movie[i].id%>">
              <%=  actor.movie[i].title %> 
              </a>
            </ul>
            <% } %>
            </li>
        </li>
            
        
    </ul>
  </body>
  <%- include('partials/footer')%>
</html>