<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crear Película</h1>
    <ul>
      
    <form action="/movies/create" method="post">
         <li>
             <input type="text" required name="title" id="title" placeholder="Título">
        </li>
         <li>
             Puntuación
        <select name="rating" id="rating">
            <% for (let i = 0; i <= 10; i++) { %>
                <option value="<%=i%>"><%=i%></option>
                <% } %>
         </select>
        </li>
         <li>
             <input type="number" required min=0 name="awards" id="awards" placeholder="Premios">
        </li>
         <li>
             <input type="date" max="<%=Date.now()%>" required name="release_date" id="release_date" placeholder="Fecha de estréno">
        </li>
         <li>
             <input type="number" required name="length" id="length" placeholder="Duración">
        </li>
        <li>
            Género

             <select name="genre" id="genre">
                <% for (let i = 0; i < genre.length; i++) { %>
                    <option value="<%=genre[i].id%>"><%=genre[i].name%></option>
                    <% } %>
                 
             </select>
             
        </li>
        <input type="submit" action="" value="crear">
        <input type="submit" action="" value="limpiar">
    </form> 
    </ul>

</body>
</html>