<!DOCTYPE html>
<html>
  <%- include('partials/head')%>

  <%- include('partials/header')%>
  <body>
    <h1>Detalle de <%= detail.title %></h1>
    <ul>
      
          
         <li> Título: <%=  detail.title; %> </li>
         <li> Puntuación: <%=  detail.rating; %> </li>
         <li>Premio: <%=  detail.awards; %> </li>
         <li>Fecha de lanzamiento: <%=  detail.release_date; %></li>
         <li> Duración: <%=  detail.length; %></li>
         <li> Género: <a href="/movies/genre/<%=detail.genre.id%>"><%=detail.genre.name; %></a>   </li>
         <li>Actores: 
          <% for (var i=0;i<detail.actor.length; i++) {%>
            
             <ul><a href="../actor/<%=detail.actor[i].id%>"> <%= detail.actor[i].first_name + detail.actor[i].last_name %></a></ul>
            
          </li>
            <%}%>
        <form action="/movies/delete/<%=detail.id%>?_method=DELETE" value="delete" method="POST">
         <button type="submit">Eliminar</button> </form>
         <form action="/movies/edit/<%=detail.id%>" value="delete" method="GET">
          <button type="submit">Modificar</button> </form>
         
    </ul>
  </body>
  <%- include('partials/footer')%>
</html>