<!DOCTYPE html>
<html>
  <head>
    <title><%= %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=  %></h1>
    <h1>Peliculas</h1>
    
    <ul>
      
          
      <form action="/movies/edit/<%=detail.id%>?_method=PUT" method="post">
        
         <li>
            Título:
            <input type="text" required value="<%=detail.title%>" name="title" id="title">
         </li>
        
          <li>
             Puntuación:
            <select name="rating" id="rating" value="<%=detail.rating%>">
             <% for (let i = 0; i <= 10; i++) { %>
                <option value="<%=i%>"><%=i%>
                  <% } %>
          </select>
          </li>

          <li> 
            Premios:
            <input type="number" value="<%=detail.awards%>" min=0 name="awards" id="awards" >
           </li>
       
           <li>
            Fecha de estréno: 
              <input type="datetime" max="<%=Date.now()%>" value="<%=detail.release_date%>" name="release_date" id="release_date">
           </li>
        
           <li>
            Duración: 
              <input type="number" value="<%=detail.length%>" name="length" id="length">
           </li>
       
           <li>
            Género:
            <select name="genre" value="" id="genre">
 
            </select>
           </li>
       
           <input type="submit" action="" value="Modificar"></form>
       
      <form action="/movies/delete/<%=detail.id%>?_method=DELETE" value="delete" method="POST">
      <button type="submit">Eliminar</button> </form>
    
    </ul>
    
    <p>Welcome to <%=  %></p>
  </body>
</html>