<!DOCTYPE html>
<html>
  <%- include('partials/head')%>

  <%- include('partials/header')%>

  <body>

    <h1>Peliculas del género <%=movies[0].genre.name%></h1>
    <ul>
        
            <% for (let i = 0; i < movies.length; i++) { %>
         <li> 
          
          <a href="../detail/<%= movies[i].id%>">
          <%=  movies[i].title; %> 
          </a>
          
         </li>
            <% } %>
        
    </ul>
  </body>
  <%- include('partials/footer')%>
</html>