<!DOCTYPE html>
<html>
  <head>
    <title><%= %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=  %></h1>
    <h1>Peliculas</h1>
    <ul>
        
            <% for (let i = 0; i < newMovies.length; i++) { %>
         <li> <a href="detail/<%=newMovies[i].id %>">
          <%=  newMovies[i].title; %> 
          </a></li>
            <% } %>
        
    </ul>
    <p>Welcome to <%=  %></p>
  </body>
</html>