<!DOCTYPE html>
<html>
  <%- include('partials/head')%>

  <%- include('partials/header')%>

  <body>
    <h1>Novedades</h1>
    <ul>
        
            <% for (let i = 0; i < newMovies.length; i++) { %>
         <li> <a href="detail/<%=newMovies[i].id %>">
          <%=  newMovies[i].title; %> 
          </a></li>
            <% } %>
        
    </ul>
  </body>
  <%- include('partials/footer')%>
</html>