<!DOCTYPE html>
<html>
  <%- include('partials/head')%>

  <%- include('partials/header')%>

  <body>
    <h1>Peliculas recomendadas!</h1>
    <ul>
        
        <% for (let i = 0; i < reco.length; i++) { %>
            <li> <a href="detail/<%=reco[i].id %>">
             <%=  reco[i].title; %> 
             </a></li>
               <% } %>

        
    </ul>
    <p>Welcome to <%=  %></p>
  </body>
  <%- include('partials/footer')%>
</html>