<!DOCTYPE html>
<html>
  <%- include('partials/head')%>

  <%- include('partials/header')%>

  <body>
    <h1>Resultado para la búsqueda de "<%= searched  %>"</h1>

    <ul>
        
        <% for (let i = 0; i < search.length; i++) { %>
            <li> <a href="detail/<%=search[i].id %>">
             <%=  search[i].title; %> 
             </a></li>
               <% } %>

        
    </ul>


  </body>
  <%- include('partials/footer')%>
</html>